body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  background-color: #90a9e4;
  padding: 15px 30px;
  border-radius: 5px;
  margin-bottom: 50px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.menu-icon {
  width: 35px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.icon {
  width: 100%;
  height: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  z-index: 10;
}

.main-add-form-container {
  width: 80%;
  align-self: center;
}

.main-container {
  display: grid;
  width: 80%;
  align-self: center;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto 50px;
  gap: 20px;
}

.grid-container {
  gap: 20px;
  padding: 20px 0;
}

.todo-list {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.todo-list-title-block {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 30px;
}

.delete-todo-list-btn {
  background-image: url('../assets/icons/Trash.png');
  width: 50px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-todo-list-btn:hover {
  background-color: #d2d2d227;
}

.close-btn {
  background-image: url('../assets/icons/icon-close25.png');
  background-color: inherit;
  width: 25px;
  height: 25px;
}

.close-btn:hover {
  background-color: #f44336;
}

/* h3  */
.editableSpan {
  color: #333;
  text-align: center;
  font-size: 28px;
  font-weight: 200;
}

.add-box-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  min-width: 300px;
}

.add-box {
  display: flex;
  width: 300px;
  justify-content: space-around;
  margin-bottom: 5px;
  gap: 15px;
  margin-bottom: 10px;
}

.tasks {
  width: 90%;
  margin-bottom: 50px;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.task {
  font-size: 18px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 5px 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.is-done {
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 5px 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.checkbox {
  margin-right: 10px;
}

button {
  background-color: #90a9e4;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #6a71a9;
}

.add-btn {
  padding: 5px 10px;
}

.delete-btn {
  background-color: #f9f9f9;
  margin-left: 10px;
}

.button-disabled {
  opacity: 0.6;
  cursor: not-allowed;
  transition: none;
}

.button-disabled:hover {
  background-color: #fff;
}

.error {
  width: calc(100% - 70px);
  padding: 10px;
  border: 1px solid #b85961;
  border-radius: 4px;
  flex-grow: 1;
}

.error-message {
  color: #b85961;
}

.input-task {
  width: calc(100% - 70px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.filters {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  position: absolute;
  bottom: 20px;
}

.filters button {
  width: 32%;
}

.active-filter-btn {
  background-color: #6a71a9;
}

.change-title-input {
  width: 90%;
}

.loader-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  z-index: 1000; /* Убедитесь, что он выше всех остальных элементов */
  display: flex;
  justify-content: center;
}

.loader {
  top: 40%;
  color: #ffffff;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

.loader-tasks {
  color: #df1717;
  font-size: 5px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
  z-index: 10;
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

.snackbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 20px;
  max-width: 300px;
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  animation: 0.3s ease-out, 0.3s ease-in;
  z-index: 1000;
}

.snackbar.error {
  background-color: #f44336;
}

/* auth */

.container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

.container-login-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 0.1px solid #90a9e4;
  border-radius: 25px;
  padding: 20px;

  > h2 {
    align-self: center;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.errorMessage {
  color: #f44336;
  font-size: 14px;
}

/* Page404 */

.title-page-404 {
  text-align: center;
  font-size: 250px;
  margin: 0;
}

.subTitle-page-404 {
  text-align: center;
  font-size: 50px;
  margin: 0;
  text-transform: uppercase;
}

/* skeletons */

.skeleton-paper {
  width: 305px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #ccc;
}

.skeleton-header-container,
.skeleton-item-container,
.skeleton-list-item-container,
.skeleton-button-container,
.skeleton-task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skeleton-inner-container {
  display: flex;
  gap: 15px;
}

.skeleton-box {
  background-color: #ddd;
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-header {
  width: 150px;
  height: 50px;
}

.skeleton-icon {
  width: 20px;
  height: 40px;
}

.skeleton-item-large {
  width: 230px;
  height: 60px;
}

.skeleton-small {
  width: 30px;
  height: 60px;
}

.skeleton-medium {
  width: 150px;
  height: 60px;
}

.skeleton-button {
  width: 80px;
  height: 60px;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.skeleton-tasks-container {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Pagination */

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 20px 0;
}

.pagination-btn:hover:not(.button-disabled) {
  background-color: #007bff;
  color: white;
}

.pagination-btn.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  pointer-events: none;
}


.totalCount {
  margin-left: 20px;
  font-size: 14px;
  color: #333;
}
